@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  background-color: #b4b8bba6;
  border-radius: 10px;
  margin: 15px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 300px;
}
.name {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
}

.info {
  color: rgb(255, 255, 255);
}

.link {
  padding-bottom: 20px;
}
